@import url(https://db.onlinewebfonts.com/c/595030bb520f1e2ab2fb4e8d7c5f30a5?family=ALS+Sector+Regular+Regular);

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "ALS Sector Regular Regular";
    color: black;
}

img {
    max-width: 100%;
}

.header {
    background-color: rgba(242, 242, 242, 1);
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo_mobile {
    display: none;
}

.menu {
    display: flex;
    gap: 103px;
}

.menu__btn {
    display: none;
    width: 40px;
    height: 18px;
}

.menu__btn span {
    background-color: black;
    height: 1px;
    width: 100%;
}

button {
    border: none;
    background-color: transparent;
}

.menu__link {
    position: relative;
    color: rgba(48, 48, 48, 1);
    font-size: 20px;
}

.menu__link:hover {
    color: rgba(0, 108, 220, 1);
}

.menu__link::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(0, 108, 220, 1);
}

.menu__link::after {
    width: 0;
    transition: 0.3s;
}

.menu__link:hover:after {
    width: 100%;
}

.menu__link::after {
    left: 50%;
    transform: translateX(-50%);
}

.menu__close {
    display: none;
}

/*Основная часть страницы*/
.tittle-index {
    font-size: 3.88889vw;
}

.top__text--index {
    font-size: 20px;
    align-self: end;
}

.top_button-sign-up {
    font-size: 24px;
    font-family: "ALS Sector Regular Regular";
    color: white;
    background-color: rgba(28, 78, 176, 1);
    padding: .7em 1.5em;
    border-radius: 30px;
    margin-top: 20px;

}

.top_button-sign-up:hover {
    background-color: rgba(0, 108, 220, 1);
}

.top__inner--index {
    display: grid;
    margin-top: 60px;
    grid-template-columns: 1fr 570px;
    grid-template-rows: repeat(2, 177px);
    gap: 10px;
}

.container__image {
    grid-column: 2;
    grid-row: 1/3;
}

.index__course-description {
    margin-top: 13.75vw;
}

.description__inner-index-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.description_summer-curse,
.description__year-curse {
    background-color: rgba(238, 238, 238, 1);
    border-radius: 20px;
}

.title_description-index {
    font-size: 3.33333vw;
}
.description_title-index {
    font-size: 1.94444vw;
    font-weight: 700;
}

.description-list {
    font-size: 1.388889vw;
}

.menu-description {
    list-style-type: "•";
  }
@media (max-width: 1000px) {
    .menu {
        gap: 80px;
    }

    .menu__link {
        font-size: 18px;
    }

    .top__text--index {
        font-size: 16px;
        align-self: end;
    }

    .top__inner--index {
        display: grid;
        margin-top: 60px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 140px);
        gap: 5px;
    }

    .top_button-sign-up {
        font-size: 20px;
    }

}

@media (max-width: 768px) {
    .menu {
        transform: translateY(-100%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-color: white;
        display: block;
        text-align: center;
        padding-top: 60px;
    }

    .menu.menu__list--open {
        transform: translateY(0%);
    }

    .menu__close {
        display: flex;
    }

    .menu__close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .menu__list {
        margin-bottom: 30px;
    }

    .menu__btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
    }

    .top__text--index {
        font-size: 13px;
        align-self: end;
    }

    .top__inner--index {
        display: grid;
        margin-top: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 130px;
        ;
        gap: 10px;
    }

    .top_button-sign-up {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .menu__btn {
        width: 14px;
        height: 11px;
    }

    .logo {
        display: none;
    }

    .menu__link {
        font-size: 12px;
    }

    .logo_mobile {
        display: flex;
    }

    .nav {
        height: 40px;
    }

    .tittle-index {
        align-self: center;
    }

    .top__text--index {
        font-size: 8px;
        align-self: end;
    }

    .top__inner--index {
        display: grid;
        margin-top: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
    }

    .container__image {
        align-self: center;
    }

    .top_button-sign-up {
        font-size: 2.70833vw;
    }
}